<% provide( :title,'Contact') %>
<h1>Contact</h1>
<p>
  You can contact any officer through their official club email address.
  <ul>
    <li><%= mail_to "#{@king.email}", "President: " + @king.officer.name %></li>
    <li><%= mail_to "#{@queen.email}", "Vice President: " + @queen.officer.name %></li>
    <li><%= mail_to "#{@scribe.email}", "Secretary: " + @scribe.officer.name %></li>
    <li><%= mail_to "#{@taxer.email}", "Treasurer: " + @taxer.officer.name %></li>
    <li><%= mail_to "#{@bishop.email}", "Chaplain: " + @bishop.officer.name %></li>
    <li><%= mail_to "#{@friar.email}", "Social Service Director: "+ @friar.officer.name %></li>
    <li><%= mail_to "#{@sergeant.email}", "Athletic Director: " + @sergeant.officer.name %></li>
    <li><%= mail_to "#{@wizard.email}", "Historian: " + @wizard.officer.name %></li>
    <li><%= mail_to "#{@ambassador.email}", "Rush/Public Relations Director: " + @ambassador.officer.name %></li>
    <li><%= mail_to "#{@jester.email}", "Spring Sing Director: " + @jester.officer.name %></li>
  </ul>
</p>