<%= form_for(@prayer_followup) do |f| %>
  <% if @prayer_followup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prayer_followup.errors.count, "error") %> prohibited this prayer_followup from being saved:</h2>

      <ul>
      <% @prayer_followup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prayer_id %><br />
    <%= f.number_field :prayer_id %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
