<% if !signed_in? %>
  <h1>Current Officers</h1>
<% else %>
  <h1>Offices and Budgets</h1>
<% end %>

<table class="table table-bordered">
  <tr>
    <th>Title</th>
    <th>Officer</th>
    <% if signed_in? %>
      <th>Budget</th>
      <th>Spent</th>
      <th>Remaining</th>
      <% if officer? %>
        <th></th>
        <% if admin? %>
          <th></th>
        <% end %>
      <% end %>
    <% end %>
  </tr>

<% @offices.each do |office| %>
  <tr>
    <td><%= link_to office.title, office %></td>
    <td><%= office.officer.name %></td>
    <% if signed_in? %>
      <td><%= number_to_currency(office.budget, :currency => "$") %></td>
      <td><%= number_to_currency(office.spent, :currency => "$") %></td>
      <td><%= number_to_currency(office.budget_remaining, :currency => "$") %></td>
      <% if officer? %>
        <td><%= link_to 'Edit', edit_office_path(office) %></td>
        <% if admin? %>
          <td><%= link_to 'Destroy', office, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      <% end %>
    <% end %>
  </tr>
<% end %>
<% if signed_in? %>
  <tr>
    <td><strong>Summary</strong></td>
    <td><strong>All Offices</strong></td>
    <td><strong><%= number_to_currency(master_budget, :currency => "$") %></strong></td>
    <td><strong><%= number_to_currency(total_spent, :currency => "$") %></strong></td>
    <td><strong data-toggle="tooltip" title="This sum excludes the treasurer"><%= number_to_currency(master_remaining, :currency => "$") %></strong></td>
    <% if officer? %>
      <td></td>
      <% if executor? %>
        <td></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if executor? %>
  <%= link_to 'New Office', new_office_path, :class => "btn btn-primary" %>
<% end %>