<h1>Listing event_signups</h1>

<table>
  <tr>
    <th>Event</th>
    <th>Name</th>
    <th>Studentid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_signups.each do |event_signup| %>
  <tr>
    <td><%= event_signup.event_id %></td>
    <td><%= event_signup.name %></td>
    <td><%= event_signup.studentID %></td>
    <td><%= link_to 'Show', event_signup %></td>
    <td><%= link_to 'Edit', edit_event_signup_path(event_signup) %></td>
    <td><%= link_to 'Destroy', event_signup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event signup', new_event_signup_path %>
