<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @event_signup.event_id %>
</p>

<p>
  <b>Name:</b>
  <%= @event_signup.name %>
</p>

<p>
  <b>Studentid:</b>
  <%= @event_signup.studentID %>
</p>


<%= link_to 'Edit', edit_event_signup_path(@event_signup) %> |
<%= link_to 'Back', event_signups_path %>
