<%= render 'shared/error_messages', object: f.object %>

<div class="form group">
  <%= f.label :name, :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.text_field :name, :placeholder => "Alpha Knight" %>
  </div>
</div>

<div class="form group">
  <%= f.check_box :email_public %> Share email address in Directory
  <%= f.label :email, :class => "col-lg-2 control-label" %>
  <div class="col-lg-10">
    <%= f.email_field :email, :placeholder => "knightname@agoknights.com" %>
  </div>
</div>

<div class="form group">
  <%= f.check_box :phone_public %> Share phone number in Directory
  <%= f.label :phone, "Phone number", :class => "col-lg-2 control-label" %>
  <%= f.telephone_field :phone, :placeholder=> "405-555-1234" %>
</div>

<div class="form group">
  <%= f.label :password, :class => "col-lg-2 control-label" %>
  <%= f.password_field :password, :placeholder => "go2taco" %>
</div>

<div class="form group">
  <%= f.label :password_confirmation, "Confirmation", :class => "col-lg-2 control-label" %>
  <%= f.password_field :password_confirmation, :placeholder => "go2taco" %>
</div>

<div class="form group">
  <%= f.label :nickname, "Knight name", :class => "col-lg-2 control-label" %>
  <%= f.text_field :nickname, :placeholder => "Four-year-old girl at a fair holding a lollipop in a pink dress" %>
</div>

<div class="form group">
  <%= f.label :story, "Story behind the name", :class => "col-lg-2 control-label" %>
  <%= f.text_area :story, :rows => "5", :placeholder => "If you heard me laugh, you'd understand" %>
</div>

<div class="form group">
  <%= f.label :testimonial, "Explain why you love Alpha", :class => "col-lg-2 control-label" %>
  <%= f.text_area :testimonial, :rows => "3", :placeholder =>"Alpha is the awesomest ever!" %>
</div>

