<% provide(:title, 'The Knights of Alpha') %>
<h1>The Knights of Alpha</h1>

<%= will_paginate %>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size:60 %>
        <% if user.nickname.present? %>
          <%= link_to "Sir {user.nickname}", user %>
          <em><small> aka <%= user.name %></small></em><br />
        <% else %>
            <%= link_to user.name, user %><br />
        <% end %>
        <% if user.email_public? || officer? %>
          <%= mail_to "#{user.email}", user.email %> <br />
        <% end %>
        <% if user.phone_public? || officer? %>
           <%= number_to_phone(user.phone) %> <br />
        <% end %>
        <% if executor? %>
          Current Balance: <%= number_to_currency(user.current_balance, :currency => "$") %>
        <% end %>
        <% if current_user.admin? && !current_user?(user) %>
          | <%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"} %>
        <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>