<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size:52 %>
        <%= link_to user.name, user %><br />
        <% if user.nickname.present? %>
          <em>Sir <%= user.nickname %></em><br />
        <% end %>
        <% if user.email_public? || officer? %>
          <%= mail_to "#{user.email}", user.email %> <br />
         <% end %>
         <% if user.phone_public? || officer? %>
           <%= number_to_phone(user.phone) %> <br />
         <% end %>
    <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"} %>
    <% end %>  
    </li>
  <% end %>
</ul>

<%= will_paginate %>