<h1>All Purchases</h1>

<table class="table table-bordered">
  <tr>
    <th>User</th>
    <th>Purchase amount</th>
    <th>Office</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purchases.each do |p| %>
  <tr>
    <td><%= link_to p.user.name, user_path(p.user) %></td>
    <td><%= number_to_currency p.purchase_amount, :currency => "$" %></td>
    <td><%= link_to p.office.title, office_path(p.office) %></td>
    <td><%= p.note %></td>
    <td><%= link_to 'Show', p %></td>
    <td><%= link_to 'Edit', edit_purchase_path(p) %></td>
    <td><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purchase', new_purchase_path %>
