<%= form_for(@prayer_note) do |f| %>
  <% if @prayer_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prayer_note.errors.count, "error") %> prohibited this prayer_note from being saved:</h2>

      <ul>
      <% @prayer_note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :request_id %><br />
    <%= f.number_field :request_id %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :anonymous %><br />
    <%= f.check_box :anonymous %>
  </div>
  <div class="field">
    <%= f.label :public %><br />
    <%= f.check_box :public %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
