<%= form_for(@reconciliation) do |f| %>
  <% if @reconciliation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reconciliation.errors.count, "error") %> prohibited this reconciliation from being saved:</h2>

      <ul>
      <% @reconciliation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :account_id %><br />
    <%= f.select :account_id, Account.all.collect {|a| [a.name, a.id]}.sort %>
  </div>
  <div class="field">
    <%= f.label :balance %><br />
    <%= f.text_field :balance %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-large btn-primary" %>
  </div>
<% end %>
