<%= form_for(@reconciliation, class:"form-horizontal") do |f| %>
  <% if @reconciliation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reconciliation.errors.count, "error") %> prohibited this reconciliation from being saved:</h2>

      <ul>
      <% @reconciliation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :account_id, class:"col-lg-2" %><br />
    <div class="col-lg-10">
      <%= f.select :account_id, Account.all.collect {|a| [a.name, a.id]}.sort %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :balance, class:"col-lg-2" %><br />
    <div class="col-lg-10">
      <%= f.text_field :balance %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>
