<p id="notice"><%= notice %></p>

<p>
  <b>Account:</b>
  <%= @reconciliation.account.name %>
</p>

<p>
  <b>Balance:</b>
  <%= number_to_currency(@reconciliation.balance, :currency => "$") %>
</p>


<%= link_to 'Edit', edit_reconciliation_url(@reconciliation, :domian => "treasury." + request.domain) %> |
<%= link_to 'Back', reconciliations_path %>
