<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :paid_by_user_id %><br />
    <%= f.select :paid_by_user_id, User.all.collect {|u| [u.name, u.id]}.sort%>
  </div>
  <div class="field">
    <%= f.label :collected_by_user_id %><br />
    <%= f.select :collected_by_user_id, User.all.collect {|u| [u.name, u.id]}.sort %>
  </div>
  <div class="field">
    <%= f.label :amount_paid %><br />
    <%= f.text_field :amount_paid %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <% if executor? %> 
    <div class="field">
      <%= check_box_tag :reconciled %> Confirmed
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit class:"btn btn-large btn-primary"%>
  </div>
<% end %>
