<tr>
  <td>Payment</td>
  <td><%= payment.amount_paid %></td>
  <td><%= payment.created_at %></td>
  <td><%= payment.charge.charge_type.type %></td>
  <td><%= payment.collector %></td>
  <td><%= payment.notes %></td>
</tr>