<%= form_for(@transfer) do |f| %>
  <% if @transfer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transfer.errors.count, "error") %> prohibited this transfer from being saved:</h2>

      <ul>
      <% @transfer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :officer_user_id, "Member" %><br />
    <%= f.select :officer_user_id, all_users %>
  </div>
  <div class="field">
    <%= f.label :account_id %><br />
    <%= f.select :account_id, Account.all.collect{|a| [a.name, a.id]} %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %> <br />
  </div>
  <div class="field">
    <%= f.submit class:'btn btn-large btn-primary'%>
  </div>
<% end %>
