<h1>Listing transfers</h1>

<table class="table table-bordered">
  <tr>
    <th>Member</th>
    <th>Account</th>
    <th>Value</th>
    <th></th>
    <th></th>
  </tr>

<% @transfers.each do |transfer| %>
  <tr>
    <td><%= transfer.user.name %></td>
    <td><%= transfer.account.name %></td>
    <td><%= number_to_currency(transfer.value, :currency => "$") %></td>
    <td><%= link_to 'Edit', edit_transfer_path(transfer) %></td>
    <td><%= link_to 'Destroy', transfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Transfer', new_transfer_path, :class => "btn btn-primary" %>
