<p id="notice"><%= notice %></p>

<p>
  <b>Member:</b>
  <%= @transfer.officer_user.name %>
</p>

<p>
  <b>Account:</b>
  <%= @transfer.account.name %>
</p>

<p>
  <b>Value:</b>
  <%= number_to_currency(@transfer.value, :currency => "$") %>
</p>


<%= link_to 'Edit', edit_transfer_path(@transfer) %> |
<%= link_to 'Back', transfers_path %>
