<% provide :title, 'Charge Types' %>
<table class="table table-bordered">
  <tr>
    <th>Type</th>
    <th>Value</th>
    <th>Office</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @charge_types.each do |charge_type| %>
  <tr>
    <td><%= charge_type.category %></td>
    <td><%= number_to_currency(charge_type.value, :currency =>"$") %></td>
    <td><%= charge_type.office.title %></td>
    <td><%= link_to 'Show', charge_type %></td>
    <td><%= link_to 'Edit', edit_charge_type_path(charge_type) %></td>
    <td><%= link_to 'Destroy', charge_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Charge type', new_charge_type_path %>
