<h1>All Charges</h1>

<table class="table table-bordered">
  <tr>
    <th>Office</th>
    <th>User</th>
    <th>Charge type</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @charges.each do |charge| %>
  <tr>
    <td><%= link_to charge.charge_type.office.title, office_path(charge.charge_type.office) %></td>
    <td><%= link_to charge.user.name, user_path(charge.user) %></td>
    <td><%= link_to charge.charge_type.category, charge_types_path(charge.charge_type) %></td>
    <td><%= number_to_currency(charge.override_value, :currency => "$") %></td>
    <td><%= link_to 'Show', charge %></td>
    <td><%= link_to 'Edit', edit_charge_path(charge) %></td>
    <td><%= link_to 'Destroy', charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Charge', new_charge_path, class:"btn btn-primary" %>
