<p id="notice"><%= notice %></p>

<p>
  <b>Office:</b>
  <%= @charge.office.title %>
</p>

<p>
  <b>User:</b>
  <%= @charge.user.name %>
</p>

<p>
  <b>Charge type:</b>
  <%= @charge.charge_type.category %>
</p>

<p>
  <b>Override value:</b>
  <%= number_to_currency(@charge.override_value, :unit => "$") %>
</p>

<p>
  <b>Reconciled:</b>
  <%= @charge.reconciled %>
</p>


<%= link_to 'Edit', edit_charge_path(@charge) %> |
<%= link_to 'Back', charges_path %>
