<li id="treasury-admin-menu" class="dropdown-submenu">
            <a href = "#" tabindex = "-1">
                Treasury Admin
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><%= link_to "All Payments", payments_url(:host => "treasury." + request.domain) %></li>
                <li><%= link_to "All Purchases", purchases_url(:host => "treasury." + request.domain) %></li>
                <li><%= link_to "All Charges", charges_url(:host => "treasury." + request.domain) %></li>
                <li><%= link_to "All Transfers", transfers_url(:host => "treasury." + request.domain) %></li>
                <li><%= link_to "All X-Acct Transfers", account_transfers_url(:host => "treasury." + request.domain) %></li>
                <li><%= link_to "View Officers/Budgets", offices_url(:host => "treasury." + request.domain) %></li>
                <li><%= link_to "View Charge Types", charge_types_url(:host => "treasury." + request.domain) %></li>
                <li><%= link_to "All Accounts", accounts_url(:host => "treasury." + request.domain) %></li>
                <li><%= link_to "Reconcile Accounts", reconciliations_url(:host => "treasury." + request.domain) %></li>
            </ul>
        </li>      