<h1>Listing accounts</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Balance</th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= link_to account.name, account %></td>
    <td><%= number_to_currency(account.balance, :currency => "$") %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
